# --------------------------
# Общие файлы системы
# --------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Временные файлы
*.log
*.tmp
*.swp
*.lock
*.backup

# --------------------------
# Xcode
# --------------------------
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.hmap
*.simdevice
*.simulatorstate

# --------------------------
# Derived Data и сборки
# --------------------------
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip

# --------------------------
# Swift Package Manager
# --------------------------
Packages/
Package.resolved
.swiftpm/
.checkouts/

# --------------------------
# CocoaPods
# --------------------------
Pods/
!Podfile.lock

# --------------------------
# Carthage
# --------------------------
Carthage/
!Cartfile.resolved

# --------------------------
# Fastlane
# --------------------------
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

# --------------------------
# Кодовое покрытие
# --------------------------
*.profraw
*.gcda
*.gcno

# --------------------------
# SwiftUI
# --------------------------
*.preview-thumbnails
*.index
